<div id="books-index">
  <div class="row">
    <div class="col=md-3 col-sm-3">
      <h3>Ruby On Rails Power</h3>
      <%= image_tag('covers/ror-power.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col=md-3 col-sm-3">
      <h3>Ruby On Rails Dummies</h3>
      <%= image_tag('covers/ror-dummies.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col=md-3 col-sm-3">
      <h3>Rails Antipatterns</h3>
      <%= image_tag('covers/rails-antipatterns.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col=md-3 col-sm-3">
      <h3>Python Power</h3>
      <%= image_tag('covers/python-power.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col=md-3 col-sm-3">
      <h3>Growing Rails</h3>
      <%= image_tag('covers/growing_rails.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col=md-3 col-sm-3">
      <h3>The Rails Way</h3>
      <%= image_tag('covers/the-rails-way.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col=md-3 col-sm-3">
      <h3>Ruby On Rails Power</h3>
      <%= image_tag('covers/ror-power.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col=md-3 col-sm-3">
      <h3>Ruby On Rails for dummies</h3>
      <%= image_tag('covers/ror-dummies.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
  </div>

</div>

<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
